
<nav class="nav-container">
  <div class="nav-logo">
    <img src="../assets/web1.png" alt="Logo" />
    <span>Krishna AI</span>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/chat">Gita</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>


</nav>

<router-outlet></router-outlet>


<div class="circle" #circleDiv ></div>
<div class="circle" #circleDiv ></div>
<div class="circle" #circleDiv ></div>
<div class="circle" #circleDiv ></div>
<div class="circle" #circleDiv ></div>
<div class="circle" #circleDiv ></div>
<div class="circle" #circleDiv ></div>
<div class="circle" #circleDiv ></div>
<div class="circle" #circleDiv ></div>
<div class="circle" #circleDiv ></div>