
<div class="bg">
<section class="landing-hero">
    <div class="welcome-content">
      <img src="assets/Chakra.png" alt="Krishna playing flute" class="krishna-img" />
      <h1 class="welcome-title my-font">Welcome to Krishna AI</h1>
      <p class="welcome-para">
        Dive deep into the eternal wisdom of the Bhagavad Gita. Let the divine words of Lord Krishna
        guide your path, inspire your heart, and awaken your inner consciousness. Ask, learn, and
        grow through the teachings that transcend time and space. 🌼🕉️
      </p>
    </div>
    <div class="start-button-container">
        <button class="start-chat-btn my-font" routerLink="/chat">Krishna AI</button>
      </div>
  </section>
 
</div>


  